/**
 * Grids
 */

@include border-box-sizing;

.container {
	@include container($total-columns, $medium, $full);
	// @include susy-grid-background;
	@include at-breakpoint($medium) {
		// @include susy-grid-background;
	}
	@include at-breakpoint($full) {
		// @include susy-grid-background;
		max-width: 1040px;
		#primary {
			@include span-columns(8);
		}
		#secondary {
			@include span-columns(4);
			@include omega;

			> div {
				margin-bottom: $grid-padding;
			}
		}
		#tertiary {
			clear: both;
		}
	}
}

.row {
	@include clearfix;
}

#main .row {
	margin-bottom: 20px; 
	padding-bottom: 20px; 
	border-bottom: 1px solid #e0e0e0;
}

#main.kongres .kongres-for .row,
#main.kongres .kongres-under .row,
#main.kongres .kongres-efter .row {margin-bottom: 20px; padding-bottom: 0; border-bottom: 0;}

#main .row .row {margin: 0; padding: 0; border: 0;}
.col {float:left; -moz-background-clip: padding-box !important; -webkit-background-clip: padding-box !important; 
	background-clip: padding-box !important; margin-left: 2%; padding: 0; vertical-align: top;}
.row .col:first-child {margin-left:0;}

.span_1 {width:6.5%;}
.span_2 {width:15.0%;}
.span_3 {width:23.5%;}
.span_4 {width:32.0%;}
.span_5 {width:40.5%;}
.span_6 {width:49.0%;}
.span_7 {width:57.5%;}
.span_8 {width:66.0%;}
.span_9 {width:74.5%;}
.span_10 {width:83.0%;}
.span_11 {width:91.5%;}
.span_12 {margin-left:0; width:100%;}

// .container {position: relative; margin: 0 auto; max-width: 1000px;}
